<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to('Sair', destroy_user_session_path, method: :delete) %></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a href= '<%=root_path%>' class="brand-logo hide-on-med-and-up center">Usuarios</a>
    <a href= '<%=root_path%>' class="brand-logo hide-on-med-and-up center">Atrativos</a>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href=<%=users_path%>>Usuarios</a></li>
      <li><a href=<%=atractives_path%>>Atrativos</a></li>
      <% if current_user.present? %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= current_user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>
