<!DOCTYPE html>
<html>
  <head>
    <title>Atrativos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <div class="header">
    <%= render "shared/navbar" %>
  </div>

  <body>
    <div class="row">
      <div class='container'>
        <% flash.each do |message_type, message| %>
        <%= javascript_tag "M.toast({html: '#{message}'})" %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>

</html>
